@font-face {
  font-family: Firs;
  src: url(./TTFirsNeue-Regular.ttf);
}

html {
  overflow-x: hidden;
}

body {
  font-family: Firs, sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline: 2px solid tomato; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  padding: 36px 90px 88px 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .logo {
  margin-right: 357px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 121px;
}

.header .nav .nav-items .item:not(:last-child) {
  margin-right: 60px;
}

.header .nav .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 42px;
}

.header .nav .contacts .item:not(:last-child) {
  margin-right: 13px;
}

.header .nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.header .nav .item .icon-arrow {
  margin-left: 6px;
}

.header .nav .phone-number {
  color: #ffffff;
}

.header .button {
  background-color: #ffffff;
  width: 206px;
  height: 56px;
  padding: 19px 33px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  font-family: Firs;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #080808;
  cursor: pointer;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  margin-right: 40px;
}

.header .button:hover, .header .button:focus {
  background-color: #080808;
  color: #ffffff;
  border: 2px solid #505050;
}

.header .menu {
  cursor: pointer;
}

.hero {
  padding: 0 320px 124px;
  margin: 0;
}

.hero .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.hero .path .item {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #969a9f;
}

.hero .path .item:not(:last-child) {
  margin-right: 37px;
}

.hero .path .item-name::after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right: -25px;
  width: 13px;
  height: 2px;
  background-color: #969a9f;
}

.hero .path .item .current-location {
  color: #ffffff;
}

.hero .project .company-name {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 20px;
}

.hero .project .website-name {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 30px;
}

.hero .project .btn {
  background-color: #080808;
  border: 2px solid #505050;
  border-radius: 30px;
  width: 187px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Firs;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  margin-bottom: 60px;
}

.hero .project .btn:hover, .hero .project .btn:focus {
  background-color: #ffffff;
  color: #080808;
  border: 2px solid #ffffff;
}

.hero .project .btn img {
  margin-right: 20px;
}

.hero .project .website-img-wrapper {
  position: relative;
  margin-bottom: 80px;
}

.hero .project .website-img-wrapper .button {
  background-color: inherit;
  margin-left: 102px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -260px;
  bottom: 50px;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.hero .project .website-img-wrapper .button:hover, .hero .project .website-img-wrapper .button:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.hero .project .project-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 35px;
}

.hero .project .project-description .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.hero .project .project-description .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.hero .project .project-description .div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 3 / 4;
}

.hero .project .project-description .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.hero .project .project-description .div5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.hero .project .project-description .div6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.hero .project .project-description .item {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #777777;
}

.hero .project .project-description .item div {
  margin-top: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
}

.strengths {
  padding: 0 320px 242px;
  margin: 0;
}

.strengths .images-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.strengths .images-wrapper .main-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strengths .images-wrapper .main-image-wrapper .frame {
  z-index: 1;
}

.strengths .images-wrapper .main-image-wrapper .main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.strengths .images-wrapper .main-image-wrapper::before {
  content: url(.././img/img2.png);
  display: block;
  position: absolute;
  left: -320px;
  bottom: 90px;
}

.strengths .images-wrapper .main-image-wrapper::after {
  content: url(.././img/img3.png);
  display: block;
  position: absolute;
  right: -320px;
  bottom: 90px;
}

.strengths .strength-wrapper .strength {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.strengths .strength-wrapper .strength .strength-name {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
}

.strengths .strength-wrapper .strength .characteristic-list {
  -ms-flex-preferred-size: 747px;
      flex-basis: 747px;
}

.strengths .strength-wrapper .strength .characteristic-list .characteristic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.strengths .strength-wrapper .strength .characteristic-list .characteristic-item:not(:last-child) {
  margin-bottom: 20px;
}

.strengths .strength-wrapper .strength .characteristic-list .characteristic-item::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #ffffff;
}

.strengths .strength-wrapper .strength .characteristic-list .no-dots::before {
  content: '';
  display: none;
}

.strengths .strength-wrapper .characteristic-wrapper {
  -ms-flex-preferred-size: 747px;
      flex-basis: 747px;
}

.strengths .strength-wrapper .characteristic-wrapper h3 {
  font-weight: 600;
  margin-bottom: 25px;
}

.strengths .strength-wrapper .characteristic-wrapper .characteristic-list {
  padding-left: 20px;
}

.strengths .strength-wrapper .characteristic-wrapper .characteristic-list:not(:last-child) {
  margin-bottom: 25px;
}

.strengths .strength-wrapper .characteristic-wrapper .characteristic-list .characteristic-item {
  display: block;
}

.strengths .strength-wrapper .characteristic-wrapper .characteristic-list .characteristic-item::before {
  position: absolute;
  left: -15px;
  top: 13px;
}

.strengths .strength-wrapper .characteristic-wrapper .characteristic-list .characteristic-item span {
  font-weight: 600;
}

.strengths .strength-wrapper .deliverables {
  display: block;
  padding: 50px 60px 57px;
  background-image: linear-gradient(110.74deg, rgba(255, 255, 255, 0.15) 0%, rgba(205, 192, 255, 0.04) 100%);
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  border-radius: 20px;
}

.strengths .strength-wrapper .deliverables .strength-name {
  margin-bottom: 20px;
}

.strengths .strength-wrapper .deliverables .characteristic-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strengths .strength-wrapper .deliverables .characteristic-wrapper div {
  -ms-flex-preferred-size: 540px;
      flex-basis: 540px;
}

.strengths .strength-wrapper .deliverables .characteristic-wrapper div:not(:last-child) {
  margin-right: 80px;
}

.strengths .strength-wrapper .deliverables .characteristic-wrapper div h3 > span {
  font-weight: 400;
}

.strengths .strength-wrapper .strengths-img {
  max-width: none;
  margin-bottom: 120px;
}

.strengths .strength-wrapper .the-insights {
  margin-bottom: 180px;
}

.strengths .strength-wrapper .adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}

.strengths .strength-wrapper .adaptive .adaptive-description {
  -ms-flex-preferred-size: 564px;
      flex-basis: 564px;
  margin-right: 183px;
}

.strengths .strength-wrapper .adaptive .adaptive-description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 44px;
}

.strengths .strength-wrapper .adaptive .adaptive-description .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.strengths .strength-wrapper .adaptive .adaptive-description .img-wrapper img {
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.strengths .strength-wrapper .adaptive .adaptive-description .img-wrapper img:not(:last-child) {
  margin-right: 54px;
}

.strengths .strength-wrapper .adaptive .adaptive-description .img-wrapper img:hover, .strengths .strength-wrapper .adaptive .adaptive-description .img-wrapper img:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.strengths .strength-wrapper .adaptive .adaptive-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strengths .strength-wrapper .adaptive .adaptive-img div {
  position: absolute;
  right: -560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.strengths .strength-wrapper .adaptive .adaptive-img div img:not(:last-child) {
  margin-right: 60px;
}

.next-project {
  padding: 0 320px 106px;
  margin: 0;
}

.next-project .project-wrapper {
  margin: 0 auto 180px;
  text-align: center;
}

.next-project .project-wrapper .project-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  background-image: linear-gradient(90.08deg, #215aee 0.06%, #00aad6 102.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}

.next-project .project-wrapper .project-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 40px;
}

.next-project .information-wrapper p {
  font-weight: 600;
  font-size: 46px;
  line-height: 130%;
}

.next-project .information-wrapper p a {
  position: relative;
  background-image: linear-gradient(90.08deg, #215aee 0.06%, #00aad6 102.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.next-project .information-wrapper p a::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90.08deg, #215aee 0.06%, #00aad6 102.4%);
}

.footer {
  padding: 0 320px 40px;
  margin: 0;
}

.footer span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #cacaca;
}

.footer .contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 63px;
}

.footer .contacts-wrapper .social-contacts .email-link {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  color: #ffffff;
  display: block;
  margin-bottom: 30px;
}

.footer .contacts-wrapper .social-contacts .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contacts-wrapper .social-contacts .social-links .social-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.footer .contacts-wrapper .social-contacts .social-links .social-link a:hover, .footer .contacts-wrapper .social-contacts .social-links .social-link a:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.footer .contacts-wrapper .social-contacts .social-links .social-link:not(:last-child) {
  margin-right: 16px;
}

.footer .contacts-wrapper .social-contacts .social-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 26px;
}

.footer .contacts-wrapper .social-contacts .social-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cacaca;
}
/*# sourceMappingURL=main.css.map */