<div class="container footer">
  <div class="contacts-wrapper">
    <div class="social-contacts">
      <a class="email-link" href="mailto:mail@logocompany.net"
        >mail@logocompany.net</a
      >
      <ul class="social-links">
        <li class="social-link">
          <a href=""><img src="./img/behance.svg" alt="" /></a>
        </li>
        <li class="social-link">
          <a href=""><img src="./img/social-svg.svg" alt="" /></a>
        </li>
        <li class="social-link">
          <a href=""><img src="./img/inst-svg.svg" alt="" /></a>
        </li>
        <li class="social-link">
          <a href=""><img src="./img/linkedin.svg" alt="" /></a>
        </li>
        <li class="social-link">
          <a href=""><img src="./img/facebook.svg" alt="" /></a>
        </li>
      </ul>
    </div>
    <div class="social-contacts">
      <h3 class="social-title">Call</h3>
      <ul>
        <li class="social-contact">+38 (066) 000 00 00</li>
        <li class="social-contact">+38 (066) 000 00 00</li>
      </ul>
    </div>
    <div class="social-contacts">
      <h3 class="social-title">Write</h3>
      <ul>
        <li class="social-contact">Whatsapp</li>
        <li class="social-contact">Messenger</li>
        <li class="social-contact">Telegram</li>
      </ul>
    </div>
    <div class="social-contacts">
      <h3 class="social-title">Office</h3>
      <p class="social-contact">
        logocompany inc. USA, Wyoming <br />
        St . Dawsonville, GA 30534 , 115
      </p>
    </div>
  </div>
  <span>2022 © logocompany Website development</span>
</div>
