<div class="container header">
  <img class="logo" src="./img/logo.svg" alt="logo" />
  <nav class="nav">
    <ul class="nav-items">
      <li class="item">Projects</li>
      <li class="item">
        Services
        <img class="icon-arrow" src="./img/arrow-down.svg" alt="" />
      </li>
      <li class="item">About us</li>
      <li class="item">Contact</li>
    </ul>
    <ul class="contacts">
      <li class="item">
        <img src="./img/telegram-icon.svg" alt="" />
      </li>
      <li class="item"><img src="./img/whatsapp-icon.svg" alt="" /></li>
      <li class="item">
        <a class="phone-number" href="tel:+380660000000">
          +38 (066) 000 00 00
        </a>
        <img class="icon-arrow" src="./img/arrow-down.svg" alt="" />
      </li>
    </ul>
  </nav>

  <button class="button" type="button">Estimate Project</button>
  <img class="menu" src="./img/menu-icon.svg" alt="" />
</div>
