<div class="container hero">
  <div class="path">
    <div class="item"><div class="item-name">Promodex</div></div>
    <div class="item"><div class="item-name">Projects</div></div>
    <div class="item">
      <span class="current-location"
        >An employee engagement and training web app</span
      >
    </div>
  </div>
  <div class="gradient1">
    <div class="blue"></div>
    <div class="green"></div>
  </div>

  <div class="project">
    <div class="company-name">Recco</div>
    <h1 class="website-name">An employee engagement and training web app</h1>
    <button type="button" class="btn">
      <img src="./img//arrow-right.svg" alt="" /> Website
    </button>

    <div class="website-img-wrapper">
      <img src="./img/hero-img.jpg" alt="" />
      <button type="button" class="button">
        <img src="./img/submit-application.svg" alt="" />
      </button>
    </div>
    <div class="gradient2">
      <div class="blue"></div>
      <div class="green"></div>
    </div>

    <ul class="project-description">
      <li class="item div1">
        Client
        <div>Recco</div>
      </li>
      <li class="item div2">
        Vertical
        <div>Social, Business</div>
      </li>
      <li class="item div3">
        Vertical
        <div>
          UX Research, Feature Mapping, User Flow Mapping, Information
          Architecture, UX Design, UI Design, Usability Testing, Concept
          Testing, Web Design, App Design, Interactive Prototypes
        </div>
      </li>
      <li class="item div4">
        Product
        <div>iOS, Android App Web Application</div>
      </li>
      <li class="item div5">
        Headquarters
        <div>Detroit, MI</div>
      </li>
      <li class="item div6">
        Industry
        <div>Crowdsourced Reviews</div>
      </li>
    </ul>
    <div class="gradient3">
      <div class="green"></div>
      <div class="blue"></div>
    </div>
  </div>
</div>
