<div class="container strengths">
  <div class="images-wrapper">
    <div class="main-image-wrapper">
      <img class="frame" src="./img/frame.png" alt="" />
      <img class="main-image" src="./img/img1.png" alt="" />
    </div>
  </div>
  <div class="strength-wrapper">
    <div class="strength">
      <div class="green"></div>
      <h2 class="strength-name">Product Goals</h2>
      <ul class="characteristic-list">
        <li class="characteristic-item">UX Research</li>
        <li class="characteristic-item">Design a customer-facing mobile app</li>
        <li class="characteristic-item">
          Provide designs for business portals connected to mobile app
        </li>
      </ul>
    </div>
    <div class="strength">
      <div class="blue-process"></div>
      <h2 class="strength-name">The Process</h2>
      <div class="characteristic-wrapper">
        <h3>Discovery</h3>
        <ul class="characteristic-list">
          <li class="characteristic-item">
            <span>Semi-Structured User Interviews</span>
            – Potential Users: to gain further insight into users’, and
            recommendation purchasing habits, and gauge their trust levels and
            pain points when getting a recommendation or making a purchase
          </li>
          <li class="characteristic-item">
            <span>Semi-Structured User Interviews</span>
            – Potential Business Partners: to understand how business partners
            currently try to build trust with their customers, market through
            word-of-mouth, and calculate their total addressable market
          </li>
          <li class="characteristic-item">
            <span>Competitor Analysis)</span>: to inform an initial feature set,
            and evaluate the recommendation functions of competitors and how
            successful they are
          </li>
        </ul>
        <h3>Design</h3>
        <ul class="characteristic-list">
          <li class="characteristic-item">
            <span>Several design</span>
            iterations of the user’s recommendation process to find and land on
            a flow that was easy to build and fun to use
          </li>
          <li class="characteristic-item"><span>Clickable prototypes</span></li>
        </ul>
      </div>
    </div>
    <div class="strength deliverables">
      <h2 class="strength-name">Deliverables</h2>
      <div class="characteristic-wrapper">
        <div>
          <h3>Discovery: <span>Finding & Recommendations</span></h3>
          <ul class="characteristic-list">
            <li class="characteristic-item">
              <span>Build user trust</span>
              in recommendations
            </li>
            <li class="characteristic-item">
              <span>Have a “hook”</span> for usage
            </li>
            <li class="characteristic-item">
              <span>Have enough data and content</span>
              for users to find the <br />
              platform informative.
            </li>
            <li class="characteristic-item">
              <span>Replicate the enjoyment</span>
              of a face-to-face <br />
              recommendation
            </li>
            <li class="characteristic-item">
              <span>Incentivize businesses</span>
              to adopt the platform, making sure incentives don’t dilute
              authenticity
            </li>
          </ul>
        </div>
        <div>
          <h3>Discovery: <span>Finding & Recommendations</span></h3>
          <ul class="characteristic-list">
            <li class="characteristic-item">
              <span>Build user trust</span> in recommendations
            </li>
            <li class="characteristic-item">
              <span>Have a “hook”</span> for usage
            </li>
            <li class="characteristic-item">
              <span>Have enough data and content</span> for users to find the
              <br />
              platform informative.
            </li>
            <li class="characteristic-item">
              <span>Replicate the enjoyment</span> of a face-to-face <br />
              recommendation
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="strength">
      <h2 class="strength-name">The Impacts</h2>
      <ul class="characteristic-list">
        <li class="characteristic-item">
          Clients loved our final wireframes of the re-design
        </li>
        <li class="characteristic-item">
          Clients were happy with our timeliness and budget.
        </li>
      </ul>
    </div>
    <img class="strengths-img" src="./img/strengths-img.png" alt="" />
    <div class="strength">
      <h2 class="strength-name">The Challenges</h2>
      <ul class="characteristic-list">
        <li class="characteristic-item no-dots">
          While the “recommendation flow” itself was intuitive and quick for
          users, the technical challenge was always where to source and pull
          recommendation information from.
        </li>
        <li class="characteristic-item no-dots">
          This was exacerbated by the fact that a user could recommend anything
          and anyone. After many iterations, we found success with a simple flow
          that allowed users to tell a story with their recommendations but
          relied on them to optionally fill in some information gaps.
        </li>
      </ul>
    </div>
    <div class="strength the-insights">
      <h2 class="strength-name">The Insights</h2>
      <ul class="characteristic-list">
        <li class="characteristic-item no-dots">
          Recco’s core assumption (about users advocating on behalf of a brand)
          didn’t turn out to be the reality in our interviews.
        </li>
        <li class="characteristic-item no-dots">
          Our research showed their target audience (GenZ and Millennials) were
          apathetic to brands in general but would advocate a specific product
          or service. A large survey, had it been in the budget, would have
          helped validate this finding.
        </li>
      </ul>
    </div>

    <div class="strength adaptive">
      <div class="adaptive-description">
        <h2 class="strength-name">Adaptive Version</h2>
        <p>
          We chose the most popular device resolutions that provide comfortable
          viewing of site pages at different screen resolutions and on mobile
          devices.
        </p>
        <div class="img-wrapper">
          <img src="./img/mobile.svg" alt="" />
          <img src="./img/table.svg" alt="" />
          <img src="./img/notebook.svg" alt="" />
          <img src="./img/desktop.svg" alt="" />
        </div>
      </div>
      <div class="glare">
        <img src="./img/green-blue.png" alt="" />
        <img class="blue" src="./img/blue.png" alt="" />
      </div>
      <div class="adaptive-img">
        <img src="./img/mobile1.png" alt="" />
        <div>
          <img src="./img/mobile2.png" alt="" />
          <img src="./img/mobile3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
